* {
  margin: 0;
}
/* Main Body */
.main-body {
  color: #fff!important;
  background: rgba(40, 40, 40, 1)!important;
  margin: 0px;
}
body{
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.media-container {
  margin-left: 0px
}
/* Remove margins from "page content" on small screens */
/* @media only screen and (max-width: 400px) {
  .pinning-header-container{
  flex-direction: column;
  background-color: lightgreen;
  }
} */
.main-body-div {
  color: #fff!important;
  background: rgba(40, 40, 40, 1)!important;
  z-index: 1;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Header Nav bar */
.pinning-header-container {
  background-color: rgba(0,0,0,.5);
  top: 0px;
  /* background: transparent; */
  height: 0px;
  left: 0;
  position: relative;
  flex-direction: row;
  right: 0;
  top: 0;
  z-index: 1;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.main-header {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    padding-right: 0 0;
    position: fixed;
    transition: background-color .4s;
    top: 0;
    z-index: 1;
}
leftbar{
  margin-left: 1%;
  left: 10px;
}
rightbar {
  right: 10px;
}

/* Adds shadows for better clarity in different colour backgrounds -> creates and all around shadow*/
.header-text{
  text-shadow: 1px 1px 0 #000000,-1px -1px 0 #000000,-1px 1px 0 #000000, 1px -1px 0 #000000
}
/* Adjust the style for navigation text */
.header-tabs{
  text-decoration: none; /*removes the underline and default colour*/
  white-space: nowrap; /*Prevents the text from stacking*/
  color: white; /*changes the colour to white*/
  padding: 0 7px;
  z-index: 1;
}

/* For Search bar */
.search-container {
  white-space: nowrap; /*Prevents the element from stacking*/
}
.main-header .search-container input[type=text]{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 20px;
}
.main-header .search-container .search-button {
  background-color: transparent;
  border: 0px;
}

/* notification bell */
.notification {
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0 0;
  position: relative;
  display: inline-block;
  border: none;
}
.notification:hover {
  background: red;
}
.notification-bell{
  background-color: transparent;
  border: 0px;
}
.notification .badge {
  position: absolute;
  top: 10px;
  right: -10px;
  padding: 1px 7px;
  margin-right: 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

/* For Dropdown Menu */
.dropdown {
  position: right;
  display: inline-block;
  right: 0;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-button{
  position: absolute;
  bottom: -5px;
  right: -15px;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: transparent;
  color: white;
  border: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-tabs{
  color: white;
  text-decoration: none;
  list-style: none;
}

/* profile bar */
profi{
  margin-left: 5px;
}
/* Profile Logo */
.profile-logo{
  border-radius: 50%
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Event */
.event-group{

  width: 300px;
  margin-left: 50px;
  margin-top: 100px;
  z-index: 11;
  position: absolute;
}
.event-title{
  font-size: 60px;
}
.event-desc{
  font-size: 20px;
}

/* media scroller */

.media-container {
  position: relative;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  scroll-padding-inline: 3rem;
}

.media-group {
  grid-auto-columns: 1fr;
}

.media-element {
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element > img {
  width: 100%;
  object-fit: cover;
}

.next,
.previous {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
}

.previous {
  left: 0;
  top: 100px;
  bottom: 0;
}

.next {
  right: 0;
  top: 100px;
  bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
  display: flex;
}

.media-scroller:hover :where(.next, .previous) {
  opacity: 1;
}

:where(.next, .previous):hover {
  background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

.media-group:target :where(.next, .previous) {
  display: flex;
}

.media-scroller:has(:target:not(:first-child))
  .media-group:first-of-type
  .next {
  display: none;
}

svg{
  height: 0px;
}

/* navigation indicators */
.navigation-indicators {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;
  top: -1rem;
  right: 2rem;
}

.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
}

.media-scroller:has(.media-group:target)
  .navigation-indicators
  > *:nth-child(1) {
  opacity: 0.5;
}

.navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
  opacity: 1;
}

.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
  opacity: 1;
}

.media-scroller:hover .navigation-indicators {
  opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Event page, About us page, browse page */
.event-page, .about-main, .browse-page, .find-us-page, .sign-page, .enquire-page{
  margin-top: 50px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* About us */
.about-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Browse */
.browse-grid{
  display: grid;
  grid-template-columns: 150px 800px;
  gap: 10px;
}

.side-bar{
  display: flex;
  flex-direction: column;
  background-color: grey;
}
.side-bar-header{
  font-size: 30px;
}
.side-bar-sub{
  text-decoration: none;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* book */
.book-category{
  font-size: 2em;
  margin: 0;
}
.book-profile {
  padding-left: 1%;
  padding-right: 1%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* find us page */
.find-us-group{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2em;
  gap: 10px;
}
.find-us-box{
position: absolute;
top: 250px;
height: o;
z-index: 11;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* sign up page */
.sign-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.img-profile{
  border-style: solid;
  border-width: 1%;
  border-color: white;
  border-radius: 10%;
}
input[id=address] {
  width: 100%;
}
.sign-check-grid{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 150vw;
  grid-gap: 1vw;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Enquire page */

/* messeenger */
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

h4{
    font-family: var(--main-font);
    text-align: center;
    padding: 10px;
    color: var(--text-color);

}

h5[class=enquire-box]{
    font-family: 'Padauk', sans-serif;
    border: solid;
    border-radius: 10%;
    border-color: grey;
    border-width: medium;
    padding:10em 10em 10em 10em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 17px;
    opacity: 0.5;
    color: var(--text-color);

}

input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: none;
    background-color: var(--secondary-color);
    font-size: 10px;
    font-weight: 600;
    color: var(--text-color);
}

.messages{
    font-family: var(--main-font);
    color: var(--text-color);
}

/* display: inline-block will help us to avoid the text from  */
.message-item span{
    display: inline-block;
    padding:10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.submit{
    padding: 8px;
    border-radius: 5px;
    font-family: var(--main-font);
    font-size: 15px;
    color: white;
    background-color: #3636C9;
    border-style: none;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;

  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch input {
    display:none;
  }

  .slider {
    background-color: #c7c786;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: #3636C9;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

/* FAQ */

.enquire-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* grid-auto-rows: 100px; */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* borrowers list */
.borrower-row{
  display: flex;
  flex-direction: row;
  padding: 1em 1em 1em 1em;
}
.borrower-list{
  padding: 1em 1em 1em 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Sign up */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}
.imgcontainer > img{
  border-radius: 50%;
  width: 10%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* footer */
.main-footer{
  padding: 10px 10px 10px 10px;
  /* makes the footer stay below */
  margin-top: auto;
}
.footer-tabs{
  text-decoration: none; /*removes the underline and default colour*/
  white-space: nowrap; /*Prevents the text from stacking*/
  color: white; /*changes the colour to white*/
  text-align: center;

  padding: 0 7px;
  z-index: -1;
}
