/* Main Body */
.main-body {
  color: #fff!important;
  background: rgba(40, 40, 40, 1)!important;
  margin: 0px;
}
body{
  overflow-x: hidden;
}
]
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
.main-body-div {
  color: #fff!important;
  background: rgba(40, 40, 40, 1)!important;
  z-index: 1;

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Header Nav bar */
.pinning-header-container {
  background-color: rgba(0,0,0,.5);
  top: 0px;
  position:relative;
  /* background: transparent; */
  height: 0px;
  left: 0;
  position: relative;
  flex-direction: row;
  right: 0;
  top: 0;
  z-index: 1;
}
ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.main-header {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    padding-right: 0 0;
    position: fixed;
    transition: background-color .4s;
    top: 0;
    z-index: 1;
}
leftbar{
  margin-left: 1%;
  left: 10px;
}
rightbar {
  right: 10px;
}

/* Adds shadows for better clarity in different colour backgrounds -> creates and all around shadow*/
.header-text{
  text-shadow: 1px 1px 0 #000000,-1px -1px 0 #000000,-1px 1px 0 #000000, 1px -1px 0 #000000
}
/* Adjust the style for navigation text */
.header-tabs{
  text-decoration: none; /*removes the underline and default colour*/
  white-space: nowrap; /*Prevents the text from stacking*/
  color: white; /*changes the colour to white*/
  padding: 0 7px;
  z-index: 1;
}

/* For Search bar */
.search-container {
  white-space: nowrap; /*Prevents the element from stacking*/
}
.main-header .search-container input[type=text]{
  float: left;
  padding: 6px;
  border: none;
  margin-top: 0px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 20px;
}
.main-header .search-container .search-button {
  background-color: transparent;
  border: 0px;
}

/* notification bell */
.notification {
  background-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0 0;
  position: relative;
  display: inline-block;
  border: none;
}
.notification:hover {
  background: red;
}
.notification-bell{
  background-color: transparent;
  border: 0px;
}
.notification .badge {
  position: absolute;
  top: 10px;
  right: -10px;
  padding: 1px 7px;
  margin-right: 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

/* For Dropdown Menu */
.dropdown {
  position: right;
  display: inline-block;
  right: 0;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-button{
  position: absolute;
  top: 25px;
  right: -15px;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: transparent;
  color: white;
  border: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-tabs{
  color: white;
  text-decoration: none;
  list-style: none;
}

/* profile bar */
profi{
  margin-left: 5px;
}
/* Profile Logo */
.profile-logo{
  border-radius: 50%
  }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Event */
.event-group{

  width: 300px;
  margin-left: 50px;
  margin-top: 100px;
  z-index: 11;
  position: absolute;
}
.event-title{
  font-size: 60px;
}
.event-desc{
  font-size: 20px;
}
/* .event-video{
  max-height: 500vh;
  max-width: 100%;
} */
* {
  margin: 0;
}

*,
/* general styling */

/* need to check */
/* .container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
} */

/* .flow {
  display: grid;
  gap: var(--flow-spacer, 1rem);
} */

/* .page-header {
  padding-block: 5rem;
  margin-block-end: 5rem;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
} */

/* .page-title {
  font-size: 4rem;
  margin: 0;
} */

/* .section-title {
  margin-block: 4rem 1rem;
} */

/* media scroller */

.media-container {
  position: relative;
}

.media-scroller,
.media-group {
  display: grid;
  gap: 0.25rem;
  grid-auto-flow: column;
}

.media-scroller {
  overflow-x: hidden;
  scroll-behavior: smooth;
  grid-auto-columns: 100%;
  /* padding: 0 3rem; */
  scroll-padding-inline: 3rem;
}

.media-group {
  grid-auto-columns: 1fr;
}

.media-element {
  border-radius: 0.25rem;
  overflow: hidden;
}
.media-element > video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.next,
.previous {
  display: none;
  align-items: center;
  z-index: 10;
  position: absolute;
  width: 3rem;
  padding: 1rem;
  background: rgb(0 0 0 / 0);
  opacity: 0;
}

.previous {
  left: 0;
  top: 0;
  bottom: 0;
}

.next {
  right: 0;
  top: 0;
  bottom: 0;
}

.media-group:first-child :where(.next, .previous) {
  display: flex;
}

.media-scroller:hover :where(.next, .previous) {
  opacity: 1;
}

:where(.next, .previous):hover {
  background: rgb(0 0 0 / 0.3);
}

:where(.next, .previous) > svg {
  transition: transform 75ms linear;
  transform: scale(1);
}
:where(.next, .previous):hover > svg {
  transform: scale(1.2);
}

.media-group:target :where(.next, .previous) {
  display: flex;
}

.media-scroller:has(:target:not(:first-child))
  .media-group:first-of-type
  .next {
  display: none;
}

svg{
  height: 0px;
}

/* navigation indicators */

.navigation-indicators {
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 3px;

  top: -1rem;
  right: 2rem;
}

.navigation-indicators > * {
  width: 1rem;
  height: 2px;
  background: white;
  opacity: 0.5;
}

.media-scroller:has(.media-group:target)
  .navigation-indicators
  > *:nth-child(1) {
  opacity: 0.5;
}

.navigation-indicators > *:nth-child(1),
.media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
  opacity: 1;
}

.media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
  opacity: 1;
}

.media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
  opacity: 1;
}

.media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4) {
  opacity: 1;
}

.media-scroller:hover .navigation-indicators {
  opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* book */
.book-category{
  font-size: 2em;
  margin: 0;
}
.book-profile {
  padding-left: 1%;
  padding-right: 1%;
}
